{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">

        <a href="javascript:history.back()" class="btn btn-info" >返 回</a><br/>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>时间</th>
                    <th>IP详情</th>
                    <th>状态</th>
                    <th>执行结果</th>
                </tr>
            </thead>
            <tbody>
            {% for item in tasks %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.t_time|date:"Y-m-d H:i" }}</td>
                    <td>{{ item.t_content }}</td>
                    <td>{{ item.t_status }}</td>
                    <td>{{ item.t_result|safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="well">PENDING表示操作正在执行。本页面每5秒自动刷新。</div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/main.js"></script>
    <script>
        setInterval(
            function(){
                location.reload();
            },
            5000
        )
    </script>
{% endblock %}