{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">

        <button type="button" class="btn btn-primary" id="change-password">更改密码</button><br/>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>IP</th>
                    <th>最新密码</th>
                    <th>修改日期</th>
                    <th>最后一次执行情况</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td class="id">{{ item.0.id }}</td>
                    <td class="ip">{{ item.0.p_ip }}</td>
                    <td class="ip">{{ item.0.p_password }}</td>
                    <td class="date_time">{{ item.0.p_time|date:"Y-m-d H:i" }}</td>
                    <td class="view">{{ item.1.t_result|safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="modal-change-password" class="modal hide fade" tabindex="-1"
             data-width="1000">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>输入IP列表，每行一个。</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="span6">
                        <form class="form-horizontal">
                            {% csrf_token %}
                            <div class="control-group">
                                <label class="control-label" for="ip-list-password">IP列表:</label>
                                <textarea id="ip-list-password" rows="10"></textarea>
                            </div>
                            <div class="control-group">
                                <label class="control-label label-important" for="password">新密码:</label>
                                <input type="text" id="password"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">取消</button>
                <button type="button" class="btn btn-danger" id="do_change_pass">更改密码</button>
            </div>
        </div>

        <div id="modal-circle" class="modal hide fade" tabindex="-1"
             data-width="1000">
            <img src="/static/ajax_loading.gif">
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/main.js"></script>
{% endblock %}